body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paypal-button-container {
  padding: 0 !important;
}

#mycart > h2 {
  color: #015c86;
  margin-bottom: 0.4rem;
  margin-left: 0.2rem;
}

.nbtn {
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 33.3rem;
  background-color: #015c86;
  color: #fff;
  border-radius: 0.2em;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.3s;
}

.nbtn:hover {
  background-color: #026b9c;
  border-color: #01345c;
}

.nbtn:active {
  background-color: #014566;
  border-color: #01345c;
}

.card-field-name {
  background-color: #ff0000 !important;
  color: red;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#mycart {
  width: 34rem;
  margin: 2rem auto;
}

#checkout-form {
  text-align: center;
}

#api-response {
  width: 50%;
  margin-left: 10rem;
  margin-top: 3rem;
  display: none;
}
 .checkbox{
  display: flex;
  justify-content: center;
 }